@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 10%;
  background: radial-gradient(rgb(228, 212, 229), #e27ccb);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.logo h1 {
  font-size: 38px;
}

nav {
  flex: 1;
  text-align: right;
}

.navbar nav ul {
  display: inline-block;
  list-style-type: none;

}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;

}

.navbar nav ul li:hover {
  color: white;
}

.navbar a {
  font-size: 15px;
  text-decoration: none;
  color: black;

}


#cart {
  height: 30px;
  width: 30px;
}

.Products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 5%;
  gap: 30px;
}

.product-items {
  border: 2px solid #9B77E7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 2px whitesmoke;
}

.product {
  height: 300px;
  width: 100%;
}

.product-items h3 {
  font-size: 1.5em;
  width: 30%;
  color: #9B77E7;
}

.products-text {
  display: flex;
  flex-direction: column;
  width: 88%;
  justify-content: center;
  text-transform: capitalize;

}

/* footer */

footer {
  background-color: black;
  color: #fff;
  font-size: 14px;
  padding: 20px 0;
  width: 100%;

}

.footer-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;

}

ul {
  list-style: none;
  margin: 0;

}

li {
  padding: 2px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.copy-right {
  padding-left: 50px;
}

.Subscribe {
  padding-right: 20px;
  padding-bottom: 20px;

}

hr {
  opacity: 0.5;
}

.copy-right p {
  opacity: 0.5;
  padding: 16px 0;
  font-size: 15px;
  margin: 0;
}

input {
  padding: 5px;
  background: transparent;
  border: 1px solid ghostwhite;
  box-shadow: 0px 2px 2px 1px gray;
  border-radius: 4px;
  height: 50px;
}

input::placeholder {
  font-size: 18px;
  padding-left: 10px;
}



/* ----------------- Media Queries ---------------------- */
@media (max-width: 647px) {
  .Products-container {
    display: flex;
    flex-direction: column;
    transition: 850ms;

  }

  .footer-content {
    flex-direction: column;
  }
}


@media (max-width:1045px) {
  .Products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: 850ms;
  }
}

@media (max-width: 800px) {
  #cart {
    display: none;
  }

  nav {
    display: none;
  }

  .Products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: 850ms;
  }

}

@media (max-width: 700px) {
  .Products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: 850ms;
  }
}